# Byte-compiled / optimized / DLL files 
__pycache__/ 
*.py[cod]

# Vscode
.vscode/
.vs/

# Build
build/

imgui.ini

.DS_Store
*/.DS_Store
.idea/*
cmake-build-debug

build_log.txt
prev_build_log.txt
setup_build_log.txt
first_working_build_log.txt
